<div class="row" style="position:relative;padding: 4px">
  <div class="col-lg-3">
    The recipient <b><%= @recipient.name %></b> recieved:<p></p>
      <div class="table-responsive">
        <table class="table">
          <% @year_table.each do |year, payment| %>
            <tr class="active">
              <td><%= format_large_number(payment) %> Euro</td>
              <td><%= year %></td>
            </tr>
          <% end %>
      </table>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table">
          <tr class="active">
            <td><%= format_large_number(PaymentYearTotal.where(:recipient_id => @recipient.id).sum(:amount_euro).to_i) %> Euro</td>
            <td>total</td>
          </tr>
        </table>
    </div>
    <hr>
  </div>
  <div id="bar-chart" class="col-lg-9" style="position:absolute; bottom:10px; right: 0px;" ></div>
</div>

<% @year_table_array_of_hashes = []  %>
<% @year_table.each do |year , payment| %>
  <% @year_table_array_of_hashes << {year: year, amount: payment} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  // data
  var dataset = <%= @year_table_array_of_hashes.to_json %>
</script>

<script src="/js/recipient_barchart.js"></script>